body {
    font-family: Tahoma;
    color: #000;
}

div#content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
}

.row > *:not(:first-child) {
    margin-left: 2%;
}

.middle-centered {
	text-align: center;
}

.f1 {
    flex-grow: 1;
}

.f1.fixed {
	width: 100%;
}

.f2 {
    flex-grow: 2;
}

.f2.fixed {
	width: 49%;
}

.f3 {
    flex-grow: 3;
}

.f3.fixed {
	width: 32%;
}

.f4 {
    flex-grow: 4;
}

.f4.fixed {
	width: 22%;
}

.f1 *, .f2 *, .f3 *, .f4 * {
	max-width: 100%;
}

h1 {
	font-weight: 2em;
}

h2 {
	font-weight: 1.3em;
	font-weight: bold;
	font-style: italic;
}

a {
	color: #000;
	text-decoration: underline;
}

.box {
	padding: 2%;
	border: 1px solid #000;
}

.box img {
	max-width: 100%;
}

.box a.strong {
	display: inline-block;
	font-size: 6vw;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 0.3em 0;
	padding: 0 auto;
}

ul {
	padding: 0;
	list-style-position: inside;
}

ul.inline li {
	display: inline;
}

ul.bxslider li img{
	display: block;
	margin: auto;
}

.payment-methods label {
	cursor: pointer;
}

.payment-methods input:checked+label img {
	border: 2px solid #000;
}

.payment-methods input {
	display: none;
}

a.more {
	float: right;
	text-decoration: none;
	padding: 0.5em 1em;
	border: 1px solid #c00;
}